
<style>

.jumbotron {
  background: url('<%= image_path('chicagodusk.jpg')%>') no-repeat center center;
  background-size: cover;
  color: white;
  min-height: 500px;
  margin-bottom: 0px;
  background-attachment: fixed;
}


</style>

<div class = "jumbotron" >
  <div class = "container">
    <h1>Welcome to NiceDiggz!</h1>
      <h3>Let's find the right service provider to help you with your dream office, retail, or medical space!</h3>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <h2>Find A Service Provider</h2>
        <p>Choose from hundreds of service providers to solve your real estate needs.</p>
    </div>

    <div class="col-sm-4">
      <h2>Get Inspired!</h2>
        <p>Search through thousands of photos to create your dream space.</p>
    </div>

    <div class="col-sm-4">
      <h2>Share Your Experience</h2>
        <p>Tell the real estate community your store by uploading pictures of your new space.</p>
    </div>
  </div>

  <hr>



</div>
<!--
<div id="myCarousel" class="carousel slide jumbotron">
  <div class="container">
    <div class="carousel-inner">
      <div class="item active">
      <h1>Trial</h1>
      </div>
    </div>
  </div>
</div>

 -->

